@using System.Web



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home realm (@ViewBag.Title)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="images/x-icon" href="~/images/homerealm.png" />



    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <!-- Popper.js library -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-reboot.min.css">

    <script src="~/Scripts/js/Logout.js"></script>
    <link href="~/Content/CSS/Main.css" rel="stylesheet" />

</head>
<body>
    <!-- Navbar -->
    <header style="z-index: 9999;">


        <div class="logo" style="width: 100px;">
         <a href="@Url.Action("index", "Home")">   <img src="~/images/homerealm-website-favicon-black.png" alt="logo" style="width: 100%; height: 100%;"> </a>
        </div>


        <section class="search-bar">

            <svg class="search-icon" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>

            <form class="search-form">
                <input type="text" placeholder="Where to?">
            </form>

        </section>


        <ul class="main-nav">
            @if (Session["rule"] == "user")
            {
                <li> <a href="@Url.Action("UpgradeToHost", "SignUp")"><button>Become a Host</button> </a></li>
            }
            else if (Session["rule"] == "host")
            {
                <li> <a href="@Url.Action("index", "ListingMangment")"><button>Host mangment</button> </a></li>
            }

            @if (Session["iduser"] != null)
            {
                <li>
                    <a href="#">@Session["usermail"]</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Setting")">Settings</a>
                </li>
                <li>
                    @using (Html.BeginForm("DeleteSession", "Home", FormMethod.Post))
                    {
                        <a href="javascript:{}" onclick="this.parentNode.submit(); return false;">Logout</a>
                    }
                </li>

            }
            else
            {
                <li><a href="@Url.Action("Help", "Home")">Help</a></li>
                <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a></li>
                <li><a href="@Url.Action("Index", "Login")">Login</a></li>
            }


        </ul>
    </header>

    <main class="site-content">


        @RenderBody()







    </main>


    @Html.Partial("Footer")


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>


    




